In [1]:
import pandas as pd 
import glob
import datetime as dt

In [2]:
file_path = "Horse_Data/Cd_200525_sf.csv"

In [3]:
df_1 = pd.read_csv(file_path)
df_1

,R_RCTrack,R_RCDate,R_RCRace,R_Starters,R_TrackName,R_RaceState,R_Division,R_RaceBred,R_StateBred,R_RaceSex,...,W_Rank_12,W_RankIn_12,W_Race_12,W_DistUnit_12,W_TimeUnit_12,Reserved_379,Reserved_380,Reserved_381,Reserved_382,Reserved_383
0,CD,05/25/2020,1.0,16.0,Churchill Downs,KY,NaN,NaN,NaN,O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
path = r'C:Horse_Data' # use your path
all_files = glob.glob(path + "/*.csv")

my_list = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    my_list.append(df)

race_data = pd.concat(my_list, axis=0, ignore_index=True)

In [5]:
race_data

,R_RCTrack,R_RCDate,R_RCRace,R_Starters,R_TrackName,R_RaceState,R_Division,R_RaceBred,R_StateBred,R_RaceSex,...,W_Rank_12,W_RankIn_12,W_Race_12,W_DistUnit_12,W_TimeUnit_12,Reserved_379,Reserved_380,Reserved_381,Reserved_382,Reserved_383
0,CD,05/25/2020,1.0,16.0,Churchill Downs,KY,NaN,NaN,NaN,O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
race_data_new = race_data.rename(columns = {"R_RCTrack":"tvgtrackcode", 
                                          "R_RCDate": "racedate", 
                                          "R_RCRace": "race", 
                                          "B_ProgNum": "bettinginterestnumber"})

In [7]:
race_data_new

,tvgtrackcode,racedate,race,R_Starters,R_TrackName,R_RaceState,R_Division,R_RaceBred,R_StateBred,R_RaceSex,...,W_Rank_12,W_RankIn_12,W_Race_12,W_DistUnit_12,W_TimeUnit_12,Reserved_379,Reserved_380,Reserved_381,Reserved_382,Reserved_383
0,CD,05/25/2020,1.0,16.0,Churchill Downs,KY,NaN,NaN,NaN,O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
dates = pd.to_datetime(pd.Series(race_data_new['racedate']), format = '%m/%d/%Y').dt.strftime('%Y-%m-%d')
dates

0       2020-05-25
1              NaN
2              NaN
3              NaN
4              NaN
           ...
1856           NaN
1857           NaN
1858           NaN
1859           NaN
1860           NaN
Name: racedate, Length: 1861, dtype: object

In [9]:
race_data_new['racedate'] = dates
race_data_new['racedate'].astype(str)

0       2020-05-25
1              nan
2              nan
3              nan
4              nan
           ...
1856           nan
1857           nan
1858           nan
1859           nan
1860           nan
Name: racedate, Length: 1861, dtype: object

In [10]:
race_data_new.dtypes

tvgtrackcode     object
racedate         object
race            float64
R_Starters      float64
R_TrackName      object
                 ...
Reserved_379    float64
Reserved_380    float64
Reserved_381    float64
Reserved_382    float64
Reserved_383    float64
Length: 1884, dtype: object

In [11]:
race_data_new.to_csv("race_data.csv")

In [12]:
file_path_2 = "results_data - Sheet1.csv"

In [13]:
df_results = pd.read_csv(file_path_2)
df_results

,racedate,tvgtrackcode,race,bettinginterestnumber,horsename,morninglineodds,currentodds,winpayout
0,2020-05-22,cd,1,1,cowan,7/2,3/5,3.4
1,2020-05-22,cd,2,6,runnin' ray,7/2,3,8.0
2,2020-05-22,cd,3,10,lionite,4,4,10.4
3,2020-05-22,cd,4,12,rivers of lite,7/2,8/5,5.2
4,2020-05-22,cd,5,1,princess trina,6,10,22.2
...,...,...,...,...,...,...,...,...
364,2020-06-11,bel,6,2,factoring,8,10,22.6
365,2020-06-11,bel,7,5,our last buck,7/2,5,12.6
366,2020-06-11,bel,8,4,value engineering,5/2,3,8.3
367,2020-06-11,bel,9,3,moretti,8,4,10.4
368,2020-06-11,bel,10,12,wild north,8,5,13.2

In [14]:
df_results['racedate'].astype(str)

0      2020-05-22
1      2020-05-22
2      2020-05-22
3      2020-05-22
4      2020-05-22
          ...
364    2020-06-11
365    2020-06-11
366    2020-06-11
367    2020-06-11
368    2020-06-11
Name: racedate, Length: 369, dtype: object

In [15]:
df_results.dtypes

racedate                  object
tvgtrackcode              object
race                       int64
bettinginterestnumber      int64
horsename                 object
morninglineodds           object
currentodds               object
winpayout                float64
dtype: object

In [16]:
df_joined = race_data_new.merge(df_results, how = "left", on = ["tvgtrackcode", "racedate", "race", "bettinginterestnumber"])

In [17]:
df_joined.head(20)

,tvgtrackcode,racedate,race,R_Starters,R_TrackName,R_RaceState,R_Division,R_RaceBred,R_StateBred,R_RaceSex,...,W_TimeUnit_12,Reserved_379,Reserved_380,Reserved_381,Reserved_382,Reserved_383,horsename,morninglineodds,currentodds,winpayout
0,CD,2020-05-25,1.0,16.0,Churchill Downs,KY,NaN,NaN,NaN,O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,CD,2020-05-25,2.0,7.0,Churchill Downs,KY,NaN,NaN,NaN,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_joined.to_csv("joined_horse_data.csv")

In [19]:
race_data_df = df_joined[['tvgtrackcode',
                              'racedate',
                              'race',
                             'R_Starters', 
                             'R_TrackName',
                             'bettinginterestnumber',
                              'B_Horse',
                              'B_Jockey',
                              'B_MLOdds',
                              'H_JockMeetWinPct',
                              'H_JockMeetMoneyPct',
                              'H_JockYTDWinPct',
                              'H_TrainerYTDWinPct',
                              'H_TrainerYTDMoneyPct',
                              'S_BestFastDirt',
                              'S_BestTurf',
                               'T_Trainer_1',
                               'T_WinPct_1',
                               'T_WinPct_2',
                               'T_WinPct_3',
                               'T_WinPct_4',
                               'T_WinPct_5',
                              'HR_Beyer_1',
                               'HR_Beyer_2',
                               'HR_Beyer_3',
                               'HR_Beyer_4',
                               'HR_Beyer_5',
                             ]].copy()

In [20]:
race_data_df

,tvgtrackcode,racedate,race,R_Starters,R_TrackName,bettinginterestnumber,B_Horse,B_Jockey,B_MLOdds,H_JockMeetWinPct,...,T_WinPct_1,T_WinPct_2,T_WinPct_3,T_WinPct_4,T_WinPct_5,HR_Beyer_1,HR_Beyer_2,HR_Beyer_3,HR_Beyer_4,HR_Beyer_5
0,CD,2020-05-25,1.0,16.0,Churchill Downs,4,Strikeitortapit,Diaz C A,20-1,0.00,...,0.00,0.10,0.13,0.11,0.03,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,1,Punctuation,Talamo J,6-1,0.03,...,0.00,0.09,0.11,0.12,0.10,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,5,Jamin's Jet,Ouzts P W,15-1,0.00,...,0.00,0.00,0.03,0.03,0.00,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,6,Albizu,Ramos J D,15-1,0.00,...,0.04,0.00,0.04,0.07,0.03,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,2,Little Empire,Gomez A,20-1,0.00,...,0.11,0.06,0.06,0.07,0.06,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,NaN,NaN,NaN,NaN,NaN,7,Falkirk,Hernandez B J Jr,6-1,0.10,...,0.10,0.13,0.10,0.14,0.14,62.0,55.0,NaN,NaN,NaN
1857,NaN,NaN,NaN,NaN,NaN,8,Coastal Defense,Talamo J,6-1,0.06,...,0.12,0.20,0.12,0.10,0.06,69.0,66.0,72.0,NaN,NaN
1858,NaN,NaN,NaN,NaN,NaN,9,Tartufo,Lanerie C J,12-1,0.15,...,0.14,0.07,0.13,0.09,0.11,56.0,NaN,NaN,NaN,NaN
1859,NaN,NaN,NaN,NaN,NaN,10,Wartime Hero,Geroux F,12-1,0.14,...,0.13,0.18,0.12,0.18,0.07,65.0,NaN,NaN,NaN,NaN
1860,NaN,NaN,NaN,NaN,NaN,11,Decision Maker,Borel C H,12-1,0.00,...,0.00,0.07,0.09,0.07,NaN,71.0,71.0,62.0,44.0,50.0

In [21]:
race_data_df.to_csv('X.csv', index=False)