In [1]:
import pandas as pd 
import glob

In [2]:
file_path = "Horse_Data/Cd_200525_sf.csv"

In [3]:
df_1 = pd.read_csv(file_path)
df_1

,R_RCTrack,R_RCDate,R_RCRace,R_Starters,R_TrackName,R_RaceState,R_Division,R_RaceBred,R_StateBred,R_RaceSex,...,W_Rank_12,W_RankIn_12,W_Race_12,W_DistUnit_12,W_TimeUnit_12,Reserved_379,Reserved_380,Reserved_381,Reserved_382,Reserved_383
0,CD,05/25/2020,1.0,16.0,Churchill Downs,KY,NaN,NaN,NaN,O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
path = r'C:Horse_Data' # use your path
all_files = glob.glob(path + "/*.csv")

my_list = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    my_list.append(df)

race_data = pd.concat(my_list, axis=0, ignore_index=True)

In [5]:
race_data

,R_RCTrack,R_RCDate,R_RCRace,R_Starters,R_TrackName,R_RaceState,R_Division,R_RaceBred,R_StateBred,R_RaceSex,...,W_Rank_12,W_RankIn_12,W_Race_12,W_DistUnit_12,W_TimeUnit_12,Reserved_379,Reserved_380,Reserved_381,Reserved_382,Reserved_383
0,CD,05/25/2020,1.0,16.0,Churchill Downs,KY,NaN,NaN,NaN,O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
race_data_new = race_data.rename(columns = {"R_RCTrack":"tvgtrackcode", 
                                          "R_RCDate": "racedate", 
                                          "R_RCRace": "race", 
                                          "B_ProgNum": "bettinginterestnumber"})

In [7]:
race_data_new

,tvgtrackcode,racedate,race,R_Starters,R_TrackName,R_RaceState,R_Division,R_RaceBred,R_StateBred,R_RaceSex,...,W_Rank_12,W_RankIn_12,W_Race_12,W_DistUnit_12,W_TimeUnit_12,Reserved_379,Reserved_380,Reserved_381,Reserved_382,Reserved_383
0,CD,05/25/2020,1.0,16.0,Churchill Downs,KY,NaN,NaN,NaN,O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
race_data_new.to_csv("race_data.csv")

In [9]:
file_path_2 = "results_data - Sheet1.csv"

In [11]:
df_results = pd.read_csv(file_path_2)
df_results

,racedate,tvgtrackcode,race,bettinginterestnumber,horsename,morninglineodds,currentodds,winpayout
0,2020-05-22,cd,1,1,cowan,7/2,3/5,3.4
1,2020-05-22,cd,2,6,runnin' ray,7/2,3,8.0
2,2020-05-22,cd,3,10,lionite,4,4,10.4
3,2020-05-22,cd,4,12,rivers of lite,7/2,8/5,5.2
4,2020-05-22,cd,5,1,princess trina,6,10,22.2
...,...,...,...,...,...,...,...,...
364,2020-06-11,bel,6,2,factoring,8,10,22.6
365,2020-06-11,bel,7,5,our last buck,7/2,5,12.6
366,2020-06-11,bel,8,4,value engineering,5/2,3,8.3
367,2020-06-11,bel,9,3,moretti,8,4,10.4
368,2020-06-11,bel,10,12,wild north,8,5,13.2