In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import os
from fractions import Fraction

In [3]:
df = pd.read_csv(os.path.join('3year_cd_data_train.csv'))

In [4]:
def cleaner(df):
    df = df[df.tvghorseaverageclassrating != 0]
    df = df[df.tvghorseweight > 100]
    df['won'] = np.where(df['winpayout']>0,1,0)
    df = df[df.scratched == 0]
    df = df[df.currentodds != 'SC']
    df.drop_duplicates(keep='first', inplace=False)
    return df

In [5]:
df_cleaned = cleaner(df)

In [6]:
df_cleaned

,racedater,tvgtrackcode,race,bettinginterestnumber,horsename,morninglineodds,finalodds,tvghorseweight,tvghorsedamsirename,tvghorseage,...,tvghorsenumberofstarts,tvghorsepowerrating,tvghorseaveragespeed,tvghorseaverageclassrating,currentodds,winpayout,placepayout,showpayout,scratched,won
1,2018-05-02,cd,4,7,bern' james bern,2.0,0.6,119,gulch,7,...,21,113.4,100,108,3/5,0.0,0.0,2.2,0,0
2,2018-05-02,cd,4,6,catinati,20.0,30,119,with approval,5,...,1,75.0,83,93,30,0.0,0.0,0.0,0,0
3,2018-05-02,cd,4,5,montu,6.0,18,119,deputy commander,4,...,0,63.6,73,87,18,0.0,12.0,5.2,0,0
4,2018-05-02,cd,4,4,zambian dream (chi),10.0,6,119,doneraile court,7,...,7,58.9,63,108,6,0.0,0.0,0.0,0,0
5,2018-05-02,cd,4,3,hollywood critic,2.5,3,119,kaldoun (fr),6,...,3,91.8,91,100,3,8.6,4.4,2.8,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18142,2020-06-18,cd,9,4,flying scotsman,15.0,14,122,french deputy,4,...,6,101.2,91,108,14,0.0,0.0,0.0,0,0
18143,2020-06-18,cd,9,5,argentello (ire),20.0,23,122,selkirk,5,...,9,80.2,88,109,23,0.0,0.0,0.0,0,0
18144,2020-06-18,cd,9,6,extrordinary jerry,8.0,14,122,successful appeal,5,...,9,85.7,99,105,14,0.0,0.0,0.0,0,0
18145,2020-06-18,cd,9,7,penalty,4.5,9/2,122,empire maker,5,...,8,107.0,101,104,9/2,0.0,0.0,0.0,0,0
18146,2020-06-18,cd,9,8,cullum road,5.0,12,122,indian charlie,5,...,22,93.5,101,111,12,0.0,0.0,7.4,0,0

In [7]:
w = [i for i in df_cleaned.currentodds]
# w

In [8]:
y = []

for i in df_cleaned.currentodds:
    if len(i) >= 3:
        q = float(Fraction(int(i[0]),int(i[2])))
        y.append(q)
    else:
        q =float(i)
        y.append(q)
        
df_cleaned.currentodds = y

In [16]:
# good_bet = []

# for i in range(len(df_cleaned.won)):
#     odds = df_cleaned.loc[] 
#     won = 
    #     if i == 1 and j > 1:
#         print('good')
#     elif i == 1 and j < 1 and j > 0:
#         print('bad')
#     else:
#         print('bad')

In [76]:
df_cleaned.count()

racedater                     13750
tvgtrackcode                  13750
race                          13750
bettinginterestnumber         13750
horsename                     13750
morninglineodds               13750
finalodds                     13750
tvghorseweight                13750
tvghorsedamsirename           13750
tvghorseage                   13750
tvghorsesex                   13750
tvghorsedaysoff               13750
tvghorsenumberofwins          13750
tvghorsenumberofstarts        13750
tvghorsepowerrating           13750
tvghorseaveragespeed          13750
tvghorseaverageclassrating    13750
currentodds                   13750
winpayout                     13750
placepayout                   13750
showpayout                    13750
scratched                     13750
won                           13750
dtype: int64

In [19]:
df_cleaned.sort_values('racedater')

,racedater,tvgtrackcode,race,bettinginterestnumber,horsename,morninglineodds,finalodds,tvghorseweight,tvghorsedamsirename,tvghorseage,...,tvghorsenumberofstarts,tvghorsepowerrating,tvghorseaveragespeed,tvghorseaverageclassrating,currentodds,winpayout,placepayout,showpayout,scratched,won
713,2018-05-01,cd,2,5,rocky roma,12.0,14,118,awad,3,...,9,51.3,50,67,14.0,0.0,0.0,0.0,0,0
64,2018-05-01,cd,5,4,i am miss brown,3.5,6,118,formal dinner,8,...,41,66.3,66,82,6.0,0.0,0.0,0.0,0,0
62,2018-05-01,cd,5,6,gracequinnannamady,20.0,24,118,half a year,6,...,23,59.3,62,77,24.0,0.0,0.0,0.0,0,0
61,2018-05-01,cd,5,7,north of eden,2.0,1,118,kingmambo,5,...,12,76.2,72,77,1.0,0.0,0.0,2.1,0,0
60,2018-05-01,cd,5,8,wood not mind,6.0,25,118,mr. greeley,6,...,29,69.0,65,75,25.0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17781,2020-06-27,cd,8,5,herd immunity,4.5,12,120,malibu moon,2,...,1,98.0,92,90,12.0,0.0,0.0,4.6,0,0
17780,2020-06-27,cd,8,4,hyperfocus,4.0,5,120,hat trick (jpn),2,...,1,86.6,83,82,5.0,0.0,0.0,0.0,0,0
17779,2020-06-27,cd,8,3,gatsby,4.0,6,120,aldebaran,2,...,1,86.1,83,82,6.0,0.0,0.0,0.0,0,0
17874,2020-06-27,cd,11,9,eve of war,12.0,17,118,broken vow,3,...,2,95.6,89,91,17.0,0.0,0.0,0.0,0,0
17843,2020-06-27,cd,10,6,by my standards,2.5,9/5,122,muqtarib,4,...,8,108.6,98,102,1.8,0.0,3.2,3.0,0,0

In [20]:
df_cleaned.to_csv(os.path.join('..','Data_to_upload','total.csv'), index=False)

In [2]:
train_df = pd.read_csv(os.path.join('3year_cd_data_train.csv'))
test_df = pd.read_csv(os.path.join('tvg_cd_data_test.csv'))

In [3]:
len(train_df)

18148

In [4]:
len(test_df)

2229

In [54]:
def cleaner(df):
    df = df[df.tvghorseaverageclassrating != 0]
    df = df[df.tvghorseweight > 100]
    df['won'] = np.where(df['winpayout']>0,1,0)
    df = df[df.scratched == 0]
    df = df[df.currentodds == 'SC']
    df.drop_duplicates(keep='first', inplace=False)
    return df

In [55]:
train_cleaned = cleaner(train_df)
train_cleaned = train_cleaned.drop('finalodds',1)
train_cleaned.dtypes

racedater                      object
tvgtrackcode                   object
race                            int64
bettinginterestnumber           int64
horsename                      object
morninglineodds               float64
tvghorseweight                  int64
tvghorsedamsirename            object
tvghorseage                     int64
tvghorsesex                    object
tvghorsedaysoff                 int64
tvghorsenumberofwins            int64
tvghorsenumberofstarts          int64
tvghorsepowerrating           float64
tvghorseaveragespeed            int64
tvghorseaverageclassrating      int64
currentodds                    object
winpayout                     float64
placepayout                   float64
showpayout                    float64
scratched                       int64
won                             int32
dtype: object

In [56]:
test_df = test_df.rename(columns={'currentodds.1':'currentodds'})
test_cleaned = cleaner(test_df)
print(len(test_cleaned))
test_cleaned = 
test_cleaned = test_cleaned.drop_duplicates()

test_cleaned.dtypes

SyntaxError: invalid syntax (<ipython-input-56-fa41d940b75f>, line 4)

In [8]:
train_cleaned.to_csv('train.csv',index=False)
test_cleaned.to_csv('test.csv',index=False)

In [15]:
train_cleaned.columns

Index(['racedater', 'tvgtrackcode', 'race', 'bettinginterestnumber',
       'horsename', 'morninglineodds', 'tvghorseweight', 'tvghorsedamsirename',
       'tvghorseage', 'tvghorsesex', 'tvghorsedaysoff', 'tvghorsenumberofwins',
       'tvghorsenumberofstarts', 'tvghorsepowerrating', 'tvghorseaveragespeed',
       'tvghorseaverageclassrating', 'currentodds', 'winpayout', 'placepayout',
       'showpayout', 'scratched', 'won'],
      dtype='object')

In [14]:
test_cleaned.columns

Index(['racedater', 'tvgtrackcode', 'race', 'bettinginterestnumber',
       'horsename', 'morninglineodds', 'currentodds', 'tvghorseweight',
       'tvghorsedamsirename', 'tvghorseage', 'tvghorsesex', 'tvghorsedaysoff',
       'tvghorsenumberofwins', 'tvghorsenumberofstarts', 'tvghorsepowerrating',
       'tvghorseaveragespeed', 'tvghorseaverageclassrating', 'currentodds',
       'winpayout', 'placepayout', 'showpayout', 'scratched', 'won'],
      dtype='object')

In [11]:
train_cleaned.columns == test_cleaned.columns

ValueError: Lengths must match to compare

In [ ]:
import datetime
frames = [train_cleaned, test_cleaned]
total = pd.concat(frames)
total['racedater'] =  pd.to_datetime(total['racedater'], format='%Y-%m-%d')
print(len(total))
total = cleaner(total)
total = total.drop_duplicates()
print(len(total))
total.to_csv('total.csv', index=False)

In [ ]:
total.dtypes